*{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
	overflow: auto;
	background-color: #F4F3DE;
}
ul li{
	text-decoration: none;
	list-style: none;
}
a{
	cursor: pointer;
	color: black;
}
a:hover{text-decoration: none;}
.container-fluid{padding:0;}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
	line-height: 0;
	font-size: 0;
}
/*主页面*/
.pageWhole{
	width: 900px;
	margin: 0 auto;
}
.header-tags{
	height: 30px;
}
.header-tags ul{
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}
.header-tags ul:last-child{
	float: right;
}
.header-tags a{
	color: #BEAD92;
}
.header-tags li{
	display: inline-block;
	margin-right: 10px;
	color: #BEAD92;
}
.header-tags li:last-child{
	margin-right: 0;
}
.header-title{
	background-color: #BEAD92;
	height: 120px;
	font-size: 40px;
}
.header-title p{
	text-align: center;
	padding-top: 30px;
}
.mainContent{
	position: relative;
/*	padding-top: 30px;*/
}
.content1{
	position: absolute;
	left: 0;
	top: 30px;
	width: 210px;
}
.content1 ul{
	/*display: inline-block;*/
	/*color: #BEAD92;*/
	/*border: 1.5px solid #4f81bd;*/
	width: 200px;
	margin-top: 30px;
	/*background-color: white;*/
	padding: 20px;
	font-style: italic;
}

.content1 ul li:first-child{
	font-size: 18px;
	font-style: normal;
	color: black;
}

.content1 a{
	cursor: pointer;
	color: black;
}
.content1 a:hover{
	color: #BEAD92;
}
.content2{
	width: 690px;
	margin-left: 210px;
	padding-left: 20px;
	padding-right: 20px;
	
}
.content2 h3{
	text-align: center;
}
.content2 img{
	width: 300px;
	height: 210px;
	margin-top: 50px;
}
.content2 .firstPic{
	width: 350px;
	/*height: 300px;*/
	margin-left: 150px;
	margin-top: 20px;
}
.content2 .lastPic{
	float: right;
}
.simpleSearch{
	height: 60px;
	padding-top: 15px;
	text-align: center;
	border: 1px solid #CCCCCC;
}
.simpleSearch input[type="text"]{
	width: 300px;
	border: 1px solid #5B4947;
}
.simpleSearch button{
	width: 70px;
	font-weight: bold;
	background-color:#5B4947 ;
	color: #BEAD92;
	border: 1px solid #5B4947;
	margin-left: 0;
}
.simpleSearch a{
	margin-left: 10px;
}
footer{
	margin-top: 150px;
	text-align: center;
	font-size: 12px;
	padding-top: 40px;
	height: 130px;
	border-top: 1px solid #CCCCCC;
}
footer p{
	margin-bottom: 0;
	line-height: 1.5;
	color:#BEAD92 ;
}
/*精品期刊页面*/
.sortBar{
	height: 33px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 3px double #CCCCCC;
}
.sortBar span:last-child{
	float: right;
}
.sortBar a{
	margin-right: 5px;
}
.sortBar input{
	width: 40px;
	height: 20px;
}
.sortBar button{
	width: 40px;
	background-color: #5b4947;
	border: 1px solid #BEAD92;
	color: #F4F3DE;
}
.journalsContent .content{
	border-bottom: 1px solid #CCCCCC;
	position: relative;
	padding-left: 120px;
	padding-bottom: 10px;
}
.journalsContent .content img{
	width: 80px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 10px;
}
.journalsContent .content p{
	margin-bottom: 0;
}
/*期刊详情页面*/
.journalContent h3{
	padding-top: 10px;
	/*padding-left: 10px;*/
}
.journalContent .content{
	padding-left: 10px;
	margin-top: 30px;
	padding-top: 20px;
	position: relative;
	border-top: 1px solid #CCCCCC;
}
.journalContent .content img{
	position: absolute;
	width: 100px;
	height: 140px;
}
.journalContent .contentInfo{
	margin-left: 180px;
}
.journalContent .contentInfo ul{
	display: inline-block;
	width: 240px;
	/*margin-top: 10px;*/
}
.journalContent .contentInfo h3{
	font-weight: bolder;
}
.journalContent .contentInfo h4{
	margin-top: 0;
}
.journalContent .contentInfo h5{
	line-height: 1;
	margin-bottom: 10px;
}
.journalContent .contentInfo ul:last-child{
	margin-right: 120px;
	float: right;
}
.journalContent .contentInfo ul li:first-child{
	background-color:#7ba3a8 ;
}
/*图书详情页面*/
.journalContent .bookInfo{
	height: ;
}
.journalContent .bookInfo ul:first-child{
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	padding-left: 5px;
	padding-top: 5px;
	width: 170px;
}
.journalContent .bookInfo ul li:first-child{
	background-color: #F4F3DE;
	font-weight:bold ;
}
.journalContent .bookInfo ul:last-child{
	margin-top: 50px;
}
.journalContent .bookInfo ul:last-child li:first-child{
	font-weight: normal;
	margin-bottom: 10px;
}
.recommend{
	margin-top: 40px;
}
.recommend .p1{
	width: 70px;
	border: 1px solid #CCCCCC;
	padding-left: 5px;
	border-left: 3px solid #BEAD92;
	margin-bottom: 0;
	background-color: #CCCCCC;
}
.recommend .p2{
	border-top: 1px solid #CCCCCC;
	padding-top: 10px;
	text-indent: 2em;
	
}
/*搜索页面*/
.searchBar{
	position: relative;
	border: 1px solid #CCCCCC;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 50px;
}
.searchBar form{
	height: 30px;
	position: relative;
	padding-left: 60px;
	
}
.searchBar form input[type="text"]{
	width: 500px;
}
.searchBar form select{
	width: 100px;
}
.searchBar form .addSelect{
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	margin-right: 10px;
}
.searchBar button{
	height:27px ;
	width: 90px;
	border-radius: 7px;
	font-weight: bold;
}
.searchBar .searchStart{
	margin-left: 60px;
	background-color: #5B4947;
	color: #BEAD92;
	border: 1px solid #5B4947;
}
.searchBar .clearSearch{
	margin-left: 10px;
	background-color: #BEAD92;
	color: #5B4947;
	border: 1px solid #BEAD92;
}
.yearSelect{
	border-top: 1px solid #CCCCCC;
	margin-top: 10px;
	padding-top: 10px;
}
.yearSelect span{
	margin-right: 10px;
}
.searchResult p{
	font-weight: bold;
}
.searchResult table{
	width: 100%;
}
.searchResult td{
	border: 1px solid #CCCCCC;
	height: 25px;
	padding-left: 3px;
}
.searchResult table tr:nth-child(2n){
	background-color: white;
}
.searchResult table tr:first-child{
	background-color: #BEAD92;
}
.searchResult table tr:hover{
	background-color: #7BA3A8;
	cursor: pointer;
}
.ywSearchBar{
	height: 240px;
	padding-left: 10px;
}
.ywSearchBar form{
	padding-left: 10px;
}
.ywSearchBar p span{
	display: inline-block;
	width: 110px;
}
.ywSearchBar input[type="text"]{
	margin-right: 10px;
}
.ywSearchBar .searchStart{
	margin-left: 300px;
}
.ywSearchBar button{
	margin-top: 20px;
}
.ywSearchBar .selectYear {
	font-size: 12px;
	-webkit-text-size-adjust:none
}
/*文献详情页*/
.articleContent table{
	width: 100%;
	margin-top: 20px;
}
.articleContent table td{
	border: 1px solid #FFFFFF;
	height: 30px;
	padding-left: 4px;
}
.articleContent table td:first-child{
	background-color: #c9cabb;
}
